// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;
// Extra small devices (portrait phones, less than 576px)


// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$primary: #01ABE8;
$secondary: #D5F1FF;
$warning: #F7941F;
$black: #494949;

$dark-green:#19421A;
$light-green:#4CAD39;
$white:#FFFFFF;
$cream:#F9BD5D;