.dropdown-grid-link {
  display: inline-block;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}

table.dataTable td  {
  white-space: nowrap;
}
div.dataTables_wrapper div.dataTables_filter label {
  white-space: normal !important;
}
#adminAnnouncementTable_wrapper.dataTables_wrapper .row:nth-child(2), #userAnnouncementTable_wrapper.dataTables_wrapper .row:nth-child(2) {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0.8rem 0;
}
#adminAnnouncementTable td:nth-child(2), #adminAnnouncementTable td:nth-child(3) {
  white-space: break-spaces !important;
  max-width: 80px;
}
#adminAnnouncementTable td:nth-child(4) {
  text-transform: capitalize;
  text-align: center;
  width: 8rem;
}
#adminAnnouncementTable td:nth-child(5) {
  text-align: center;
  width: 2rem;
}
@include media-breakpoint-down(md) {
  #adminAnnouncementTable_length,#adminAnnouncementTable_info,#adminUserTable_length,#adminUserTable_info,#userAnnouncementTable_length,#userAnnouncementTable_info
  {
    margin-bottom: 1rem;
  }
}