.dropdown-grid-link {
  display: inline-block;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
}
table.dataTable td:nth-child(3) {
  max-width: 200px;
}
#table_id_wrapper.dataTables_wrapper .row:nth-child(2) {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 0.8rem 0;
}
table.dataTable td:nth-child(3) {
  max-width: 200px;
}
table.dataTable td  {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
div.dataTables_wrapper div.dataTables_filter label {
  white-space: normal !important;
}
@include media-breakpoint-down(md) {
  #table_id_length,#table_id_info
  {
    margin-bottom: 1rem;
  }
}