html {
  scroll-behavior: smooth;
}
body{
  line-height: 1.25;
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer{
  box-shadow: 0px -0.25rem 1.5rem rgba(0, 0, 0, 0.08);
}

h1{
  font-family: 'Montserrat', sans-serif;
  padding: 2.5rem 0 1.5rem 0;
  margin: 0;
  font-size: 2.074em;
  line-height: 160%;
}
h2{
  font-family: 'Montserrat', sans-serif;
  padding: 2rem 0 1rem 0;
  margin: 0;
  font-size: 1.728em;
  line-height: 3.5rem;
}
h3{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  font-size: 1.44em;
  line-height: 3.5rem;
}
.f-montserrat{
  font-family: 'Montserrat', sans-serif !important;
}
.bg-gradient{
  min-height: 0.4em;
  background: radial-gradient(50% 12912.53% at 50% 50.88%, rgba(15, 18, 131, 0.6) 0%, rgba(1, 205, 240, 0.6) 100%) !important;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
.bg-lightdarkblue{
  background-color:$lightdark-blue !important;
}
.bg-darkblue{
  background-color:$dark-blue !important;
}

.video-embed{
  width: 100%;
  min-width: 720px;
  height: 100%;
  min-height: 406px;
}

.min-w-100{
  min-width: 100%;
}


@media (max-width: 575.98px) {
  body{
    font-size:  0.833em !important;
    line-height: 1.6;
  }
  .btn{
    font-size: 0.833em;
  }
}
@media (max-width: 767.98px){
  .video-embed{
    width: 100%;
    min-width: 288px;
    height: 100%;
    min-height: 168px;
  }
}
@media (min-width: 576px) {
  .h-sm-100 {
      height: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .table-width{
    max-width: 380px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .table-width{
    max-width: 524px;
  }
}
@media (max-width: 991.98px) {

}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .table-width{
    max-width: 692px;
  }
}
@media (min-width: 1200px) and (max-width: 1283.98px) {
  .table-width{
    max-width:  950px;
  }
 }